.flashcardLearningModeMainContainer{
    width:100vw;
    height:92.35vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    background-color:#ebf3ff;
    position:relative;
    min-height: 600px !important;
}

.flashcardLearningModeMainContainer .editCategoryContainer{
    height:40%;
    width:50%;
    box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.48);
    cursor:pointer;
}

.learningFlashcardButtonsContainer{
    width:50%;
    height:10%;
    display:flex;
    align-items:center;
    justify-content:space-around;
    font-size:1.5rem;
}

.learningFlashcardButtonsContainer div{
    cursor:pointer;
}

.learningFlashcardButtonsContainer .buttonNotActive{
    opacity:0.3;
    cursor:default;
}

.learningFlashcardButtonsContainer div:nth-child(4){
    font-size:2.5rem;
}

@media (min-width:1100px) and (max-height:800px){
    .flashcardLearningModeMainContainer .editCategoryContainer{
        height:50%;
    }
}

@media (max-width:1100px){
    .flashcardLearningModeMainContainer .editCategoryContainer{
        width:70%;
    }
}

@media (max-width: 700px){
    .flashcardLearningModeMainContainer .editCategoryContainer{
        width:90%;
        height:30%;
    }
}